node_modules/*
.venv/
nltk_data/
chrome/
.pytest_cache/
package-lock.json
htmlcov/
.DS_Store
__pycache__/
results/*
.coverage
*.log
!/drivers/.gitkeep
.vscode/
/reports/*
!/reports/.gitkeep
/test_website/*
